<div *ngIf="trip" class="relative text-center my-8 mx-8">
    <!-- Delete button positioned at top right -->
    <div class="absolute top-0 left-0 flex w-48">
        <button [routerLink]="getBackRoute()"
            class="absolute left-0 btn btn-gray flex items-center">
            <mat-icon class="text-sm">arrow_back</mat-icon>
            Back to overview</button>
    </div>
    <div class="absolute top-0 right-0 flex gap-4">
        <button
            class="inline-flex btn btn-indigo gap-2 items-center"
            (click)="openDialog()">
            Edit trip
            <mat-icon class="text-sm">edit</mat-icon>
        </button>
        <button
            class="inline-flex btn btn-red gap-2 items-center"
            (click)="onDeleteTripFromList(trip.id)">
            Delete trip
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <h1 class="text-3xl font-bold text-gray-800 mb-4">{{ trip.title }}</h1>
    <p class="text-gray-600 mb-2">{{ trip.description }}</p>
    <div class="flex items-center justify-center text-gray-500 mb-4 gap-1">
        <mat-icon class="!text-base">schedule</mat-icon>
        <span>{{ getTripDuration(trip) }} days</span>
    </div>
</div>
<div *ngIf="trip" class="flex h-screen">
    <div class="w-1/2 h-full sticky top-0">
        <app-display-route-map [stops]="stops"></app-display-route-map>
    </div>

    <div class="w-1/2 h-full overflow-y-auto px-8 py-8">
        <div class="relative">
            <!-- Vertical Line -->
            <div class="absolute left-1/2 transform -translate-x-1/2 h-full w-0.5 bg-blue-200"></div>

            <!-- Timeline Items -->
            <div class="space-y-8">
                @for (stop of trip.stops; track stop.order; let i = $index) {
                <div class="relative flex items-center">
                    <!-- Timeline Dot -->
                    <div
                        class="absolute left-1/2 transform -translate-x-1/2 w-4 h-4 bg-blue-600 rounded-full border-4 border-white shadow-lg">
                    </div>

                    <div [class.ml-auto]="i % 2 === 0" [class.mr-auto]="i % 2 === 1"
                        class="w-5/12 bg-white rounded-lg shadow-md p-6 transform hover:scale-105 transition-transform duration-200">
                        <div class="relative h-32 mb-4 rounded-lg overflow-hidden">
                            <img [src]="stop.location.image" [alt]="stop.location.name"
                                class="w-full h-full object-cover">
                        </div>

                        <h2 class="text-xl font-bold text-gray-800 mb-2">
                            <a [routerLink]="['/location', stop.location.googlePlaceId, trip.id, stop.id]"
                                class="inline-flex items-center gap-1 text-blue-600 hover:text-blue-800 hover:underline transition-colors duration-150 cursor-pointer">
                                {{ stop.location.name }}
                                <mat-icon>open_in_new</mat-icon>
                            </a>
                        </h2>
                        <div class="flex items-center gap-1 text-sm text-gray-500 mb-2">
                            <mat-icon>location_on</mat-icon>
                            <span>Stop {{ stop.order }}</span>
                        </div>
                        <div class="flex items-center gap-1 text-sm text-gray-500 mb-2">
                            <mat-icon class="!text-base">schedule</mat-icon>
                            <span
                                class="inline-flex items-center px-2 py-1 rounded-full text-sm font-medium bg-blue-100 text-blue-800">
                                {{stop.duration}} {{stop.duration === '1' ? 'day' : 'days'}}
                            </span>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
