<div class="hidden" #placesServiceDataEl></div>
<div class="grid grid-cols-2 gap-8">
    @if (center !== undefined) {
    <div class="relative map-container mt-10 h-96 border-red-900 border-solid border" #mapContainer>
        <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
            @for (marker of markerInfoObjects; track marker.index;) {
            <map-marker [position]="marker.location"
                [options]="marker.index === selectedIndex ? selectedMarkerOptions : regularMarkerOptions"
                (click)="highlightMarker(marker.index)"></map-marker>
            }
        </google-map>

        <button
            class="w-full bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md mt-4 transition-colors duration-200"
            (click)="fetchHotelsNearStop()">
            find hotels in
        </button>
        @if (fetchingHotelsActive === true) {
        <div
            class="absolute top-0 left-0 h-full w-full z-10 bg-blue-200 bg-opacity-60 flex items-center justify-center">
            <span class="h-8 text-3xl font-bold">retreiving the best hotels...</span>
        </div>
        }
    </div>
    @if (markerInfoObjects !== []) {
    <div class="mt-10">
        @for (marker of markerInfoObjects; track marker.index;) {
        <div class="p-6 border-b-2 flex gap-6 cursor-pointer hover:bg-blue-200"
            [ngClass]="{'bg-green-300': marker.index === selectedIndex}" (click)="highlightMarker(marker.index)">
            <img [src]="marker.image" [alt]="marker.markerInfo.name" class="w-40 h-auto object-cover">
            <div>
                <div class="flex gap-4">
                    <h3 class="text-xl">{{marker.markerInfo.name}}</h3>
                    <span class="text-xm text-gray-500">{{marker.markerInfo.rating}} *</span>
                    <span>{{getPriceLevelString(marker.markerInfo.price_level)}}</span>
                </div>
                @if (marker.index === selectedIndex) {
                <p>{{marker.markerInfo.editorialSummary }}</p>
                <button
                    class="w-full bg-gray-600 hover:bg-gray-700 text-white px-4 py-2 rounded-md mt-4 transition-colors duration-200"
                    (click)="addHotelToStop(marker.index)">
                    Add hotel to stop
                </button>
                }
            </div>
        </div>
        }
    </div>
    }
    }
</div>